.answers__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    margin-top: 32px;
    justify-content: space-between;
    
    @media (min-width: 1366px) {
        margin-top: 40px;
        gap: 20px;
    }
}
  

.answers__list-item{
    width: 100%;

    @media (min-width: 768px) {
        width: 49.2%;
    }
}