.features{
    background-color: var(--color2-lighter);
    overflow: hidden;
}

.features__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.features__buttons{
    display: none;
    
    @media (min-width: 1366px) {
        flex-direction: row;
        display: flex;
        gap: 8px;
    }
}

.features__slider::-webkit-scrollbar {
    display: none;
}

.features__slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.features__slider.active {
    cursor: grabbing;
    cursor: -webkit-grabbing; 
}

.features__slider{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;

    @media (min-width: 1366px) {
        gap: 20px;
    }
}

.features__buttons-arrow2{
    transform: rotate(180deg);
}
