.team{
    margin-top: 90px;
}

.team__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px 16px;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    @media (min-width: 1366px) {
        gap: 40px 20px;
    }
}

.team__images{
    height: 264px;
    width: 100%;
    max-width: 342px;
    position: relative;
    margin: 0 auto;

    @media (min-width: 768px) {
        margin: 0;
        max-width: 49.2%;
        height: 278px;
        width: 49.2%;
    }
     
    @media (min-width: 1366px) {
        height: 484px;
    }
}

.team__images-item{
    width: 164px;
    height: 164px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
    @media (min-width: 768px) {
        width: 174px;
        height: 174px;
        
    }

    @media (min-width: 1366px) {
        border-radius: 40px;
        width: 304px;
        height: 304px;
    }
}

.team__images-img{
    position: absolute;
    top: 52%;
    left: 45%;
    transform: translate(-50%, -50%) scale(0.16);

    @media (min-width: 768px) {
        transform: translate(-50%, -50%) scale(0.17);
    }

    @media (min-width:1366px) {
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.28);
    }
}

.team__images-1{
    position: absolute;
    bottom: 0;
    left: 0;
}

.team__images-2{
    position: absolute;
    top: 0;
    right: 0;
}

.team__images-3{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.team__img-1{
    transform: translate(-50%, -50%) scale(0.32);

    @media (min-width: 768px) {
        transform: translate(-50%, -50%) scale(0.35);
        
    }

    @media (min-width: 1366px) {
        transform: translate(-50%, -50%) scale(0.55);
    }
}

.team__img-3{
    width: 100%;
    height: 100%;
    background: var(--gradient-main-linear);
}

.team__img-3.reverse{
    background: var(--color2-main);
}

.team__cta{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @media (min-width: 768px) {
        width: 49.2%;
    }
}

.team__buttons{
    display: flex;
    flex-direction: column;
    gap: 12px 20px;
    padding: 20px;
    background-color: var(--color2-lighter);
    border: 2px solid var(--color2-ligth);
    border-radius: 40px;
    max-width: 551px;
    
    @media (min-width: 1366px) {
        padding: 40px;
        flex-direction: row;
    }
}

.team__buttons-item{
    width: 100%;
    scroll-behavior: smooth;
    text-decoration: none;
    
    @media (min-width: 1366px) {
        width: auto;
    }
}

.team__buttons-arrow{
    transform: rotate(-90deg);
}

.team__cta-descp{
    margin-top: 12px;

    @media (min-width: 1366px) {
        margin-top: 24px;
    }
}

.team__check-text{
    max-width: 556px;
    color: var(--gray-medium);
}