.menu{
    display: grid;
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--gray-white);
    width: max-content;

    @media (min-width: 1366px) {
        gap: 20px;
        border-radius: 40px;
        padding: 40px;
        padding-top: 36px !important;
        padding-bottom: 40px !important;
    }
}

.menu__nav{
    display: grid;
    gap: 12px;
}

.menu__text{
    font-weight: 700;
    color: var(--gray-dark);
}

.menu__divider{
    width: 302px;
    height: 2px;
    background-color: var(--gray-light);
    border: none;
    
    @media (min-width: 767px) {
        width: 320px;
        
    }

    @media (min-width: 1366px) {
        width: 400px;
    }
}